@use '../../../../bemit/tools.scss' as mx;

.values {
  &__container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;

    @include mx.to(1024px) {
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 4rem;
    }
  }

  &__left {
    @include mx.to(1024px) {
      display: none;
    }
  }
  &__image {
    filter: saturate(0.25);
    transition: var(--transition);

    &:hover {
      filter: saturate(1);
    }
  }
  &__img {
  }

  &__right {
  }
  &__description {
    margin: 1.5rem 0 5rem;
  }
  &__wrapper {
    display: grid;
    gap: 3.4rem 2.4rem;
    grid-template-columns: 1fr 1fr;

    @include mx.to(1024px) {
      gap: 4rem 3rem;
      gap: 3rem;
    }

    @include mx.to(600px) {
      grid-template-columns: 1fr;
    }
  }
  &__value {
    &-card {
      text-align: left;
      position: relative;
      padding-top: 3.5rem;

      @include mx.to(600px) {
        width: 84%;
        margin-inline: auto;
      }
    }

    &-icon {
      position: absolute;
      top: -1.5rem;
    }
  }
}
