@use '../../bemit/tools.scss' as mx;

.contact {
  &__container {
    display: grid;
    place-items: center;
  }
  &__wrapper {
    display: flex;
    width: fit-content;
    gap: 2rem;

    @include mx.to(600px) {
      gap: 1.5rem;
    }
  }
  &__link {
    display: inline-flex;
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--color-primary);

    @include mx.to(600px) {
      padding: 1rem;
      font-size: 1.2rem;
      border-radius: 1rem;
    }

    &:hover {
      background-color: transparent;
      border-color: var(--color-gray-100);
    }
  }
}
