.btn {
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background-color: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-gray-600);
  }

  &--small {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;

    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &--large {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
  }
}
