@use '../../mixins.scss' as mx;

.faq {
  padding: 2rem;
  user-select: none;
  border-radius: 1rem;
  background-color: var(--color-gray-500);

  &__main {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }
  &__question {
  }
  &__icon {
    font-size: 1.5rem;
    display: inline-flex;
    color: var(--color-gray-100);
    background-color: transparent;
  }

  &__answer {
    margin-top: 1.5rem;
  }
}

.faqs {
  &__container {
  }

  &__wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;

    @include mx.to(1024px) {
      grid-template-columns: 1fr;
    }
    @include mx.to(600px) {
      gap: 1rem;
      margin-top: 3rem;
    }
  }
}
