@use '../../bemit/tools.scss' as mx;

.trainers {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include mx.to(1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    @include mx.to(600px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}
