@use '../../mixins.scss' as mx;

.footer {
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
  background-color: var(--color-primary);

  &__container {
    display: grid;
    gap: 6rem;
    grid-template-columns: 26rem repeat(3, 1fr);

    @include mx.to(1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }
  &__logo {
    width: 7rem;
    display: block;
  }
  &__description {
    margin-top: 0.5rem;
  }
  &__socials {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;

    &-icon {
      display: inline-flex;
      padding: 0.5rem;
      font-size: 1.25rem;
      border-radius: 0.6rem;
      transition: var(--transition);
      border: 1px solid transparent;
      background-color: var(--color-gray-100);

      $b: &;

      &:hover {
        border-color: var(--color-gray-100);
        background-color: transparent;
      }
      & svg {
        color: var(--color-gray-600);

        #{$b}:hover & {
          color: var(--color-gray-100);
        }
      }
    }
  }

  &__links {
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    align-items: flex-start;

    @include mx.to(1024px) {
      align-items: center;
    }
  }
  &__link-title {
    margin-bottom: 0.6rem;
    font-size: 1rem;
  }

  &__copyright {
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;
  }
}
